<p-toast></p-toast>

<p-dialog [(visible)]="visible" [draggable]="false" [closeOnEscape]="false" [modal]="true" (onHide)="closeModal()"
    [style]="{ width: '80vw' }" [closeOnEscape]="true">
    <!-- Contenedor de Pestañas -->
    <div class="tab-header">
        <button class="tab-button" [ngClass]="{'active': activeTab === 'tab1'}" (click)="activeTab = 'tab1'">
            Verificar Observaciones
        </button>
        <button class="tab-button" [ngClass]="{'active': activeTab === 'tab2'}" (click)="activeTab = 'tab2'">
            Nota de Observación
        </button>
        <button class="tab-button" [ngClass]="{'active': activeTab === 'tab3'}" (click)="activeTab = 'tab3'">
            Derivar
        </button>
    </div>
    <form [formGroup]="seguimientoForm" (ngSubmit)="onSubmit()">
        <div class="tab-content">
            <!-- Contenido de la Pestaña 1 -->
            <div *ngIf="activeTab === 'tab1'" class="form-container">
                <app-revisar-tecnico [rolRevisarObservacion]="rolRevisarObservacion"
                    [observationsFormArray]=" observationsFormArray" (envioModal)="abrirModales($event)"
                    [selectedSolicitud]="selectedSolicitud"></app-revisar-tecnico>

            </div>

            <!-- Contenido de la Pestaña 2 -->
            <div *ngIf="activeTab === 'tab2'" class="form-container">
                <app-nota-observacion-view [rolRevisarObservacion]="rolRevisarObservacion"
                    [selectedSolicitud]="selectedSolicitud"></app-nota-observacion-view>
            </div>

            <!-- Contenido de la Pestaña 3 -->
            <div *ngIf="activeTab === 'tab3'" class="form-container">
                <app-derivar [tipoRol]="tipoRol" [listadoRol]="tecnicos" [seguimientoForm]="seguimientoForm"
                    (valorBooleano)="closeModal($event)"></app-derivar>
            </div>
        </div>
    </form>

</p-dialog>