<div class="table-container">
    <div class="filter-container">
        <!-- Filtros y botón para agregar usuario -->
        <p-dropdown class="filter-element" [(ngModel)]="selectedRol" placeholder="Roles"></p-dropdown>
        <input class="filter-element" type="text" pInputText placeholder="Filtrar por nombre"
            [(ngModel)]="searchText" />
        <button class="filter-element" pButton type="button" icon="pi pi-search"></button>
    </div>

    <!-- Tabla de seguimientos -->
    <h2>Mis Trámites</h2><br>
    <p-table [value]="tramites" [rows]="10" [paginator]="true">
        <ng-template pTemplate="header">
            <tr>
                <th>Nro Solicitud</th>
                <th>Nro Hoja Ruta</th>
                <th>Estado Solicitud</th>
                <th>Requisitos Solicitud</th>
                <th>Fecha/Hora Registro</th>
                <th></th> <!-- Nueva columna -->
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tramite>
            <tr>
                <td>{{ tramite.nro_solicitud }}</td>
                <td>{{ tramite.nro_hoja_ruta }}</td>
                <td>{{ tramite.tipo_estado_solicitud }}</td>
                <td>{{ tramite.tipo_estado_requisito }}</td>
                <td>{{ tramite.created_at | date: 'short' }}</td>

               <!--  <td>
                    <p-button icon="pi pi-times-circle" label="Eliminar" styleClass="p-button-danger"></p-button>

                </td> -->
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="9">No Existen Seguimientos.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

