.form-container {
    max-width: 100%;
    padding: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
}

.error {
    text-align: start;
    margin-top: 0.5rem;
    color: red;

}