.form-container {
    max-width: 100%;
    padding: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 17px;
}

input {
    width: 100%;
    padding: 10px;
}

.error {
    text-align: start;
    margin-top: 0.5rem;
    color: red;

}



/* RADIO BUTTON CONVERTIDO CON X */
:host ::ng-deep .p-radiobutton {
    margin-top: 10px;
  }
  
  :host ::ng-deep .p-radiobutton .p-radiobutton-box.p-highlight,
  :host ::ng-deep .p-radiobutton .p-radiobutton-box.p-highlight:hover {
    background-color: transparent;
    border-color: black;
    box-shadow: none;
  }
  
  :host ::ng-deep .p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
    border-color: black;
  }
  
  :host ::ng-deep .p-radiobutton .p-radiobutton-icon {
    display: none;
  }
  
  :host ::ng-deep .p-radiobutton.p-radiobutton-checked .p-radiobutton-box:after {
    content: '✖';
    color: black;
    font-size: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    /* Hacer la 'X' más gruesa si es necesario */
  }
  
  :host ::ng-deep .p-radiobutton .p-radiobutton-box {
    border: 2px solid black;
    width: 20px;
    height: 20px;
    border-radius: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }