<div class="form-container">
    <h4 style="text-align: center;">Derivar Solicitud</h4>
    <div [formGroup]="seguimientoForm">

        <div class="form-group">
            <label for="tecnico">Derivar {{tipoRol | uppercase }}</label>
            <p-dropdown formControlName="usuario_destino_id" [options]="listadoRol" optionLabel="nombre"
                optionValue="id" placeholder="Seleccionar"></p-dropdown>
            <div *ngIf="seguimientoForm.get('usuario_destino_id')?.touched && seguimientoForm.get('usuario_destino_id')?.invalid"
                class="error">
                Seleccione un {{tipoRol}}.
            </div>
        </div>

        <div class="form-group" *ngIf="hoja_ruta">
            <label for="nro_hoja_ruta">Nro de Hoja de Ruta:</label>
            <input id="nro_hoja_ruta" type="text" pInputText formControlName="nro_hoja_ruta"
                placeholder="Ingrese Nro de Hoja de Ruta" />
            <div *ngIf="seguimientoForm.get('nro_hoja_ruta')?.invalid && seguimientoForm.get('nro_hoja_ruta')?.touched"
                class="error">
                El número de hoja de ruta es requerida.
            </div>
        </div>

        <!-- Errores de Revisión -->
        <div class="form-group mt-4" *ngIf="errorRevision">
            <label for="tecnico">¿El técnico cometió errores de revisión?</label>
            <div class="flex justify-content-start gap-3">
                <p-radioButton value="1" formControlName="tieneErrores" label="Si" (onClick)="revisarErrores($event)">
                </p-radioButton>
                <p-radioButton value="0" formControlName="tieneErrores" label="No" (onClick)="revisarErrores($event)">
                </p-radioButton>
            </div>

            <div *ngIf="seguimientoForm.get('tieneErrores')?.value" class="flex justify-content-start gap-3 mt-3">
                <p-dropdown formControlName="tipo_error_id" [options]="tipoErrores" optionLabel="tipo" optionValue="id"
                    placeholder="Tipo de Error"></p-dropdown>
            </div>

            <div *ngIf="seguimientoForm.get('tieneErrores')?.value" class="flex justify-content-start gap-3 mt-3">
                <textarea rows="5" cols="30" formControlName="comentario"
                    placeholder="Describa brevemente el error que se cometió" pInputTextarea
                    style="width: 100%; margin-bottom: 30px;"></textarea>
            </div>
        </div>

        <div>
            <label for="observaciones">Observaciones:</label>
            <textarea rows="5" cols="30" pInputTextarea formControlName="observacion"
                style="width: 100%; margin-bottom: 30px;">
            </textarea>
            <div *ngIf="seguimientoForm.get('observacion')?.touched && seguimientoForm.get('observacion')?.invalid"
                class="error">
                Las observaciones son requeridas.
            </div>
        </div>

        <div class="p-dialog-footer">
            <button pButton type="button" label="Cancelar" (click)="closeModal(false)" icon="pi pi-times"
                class="p-button-text"></button>
            <button pButton type="submit" label="Guardar" [disabled]="seguimientoForm.invalid"
                class="p-button-success"></button>
        </div>
    </div>
</div>