<div class="container">
    <!-- Header -->
    <header class="header">
        <div class="logos">
            <img src="assets/logo1.png" alt="Logo Bolivia">
            <img src="assets/logo2.png" alt="Logo Ministerio">
        </div>
        <h1 class="title">ESTADO PLURINACIONAL DE BOLIVIA</h1>
        <h2 class="subtitle">MINISTERIO DE ECONOMÍA Y FINANZAS PÚBLICAS</h2>
    </header>
    <form [formGroup]="certificadoForm" (ngSubmit)="onSubmit()">
        <!-- Fecha y Código -->
        <div class="info-row">
            <div class="left">
                <textarea pInputTextarea placeholder="La Paz, 6 de mayo de 2024" formControlName="fecha"
                    rows="2"></textarea>
                <textarea pInputTextarea placeholder="MEFP/VTCP/DGAFP/USCFT/N° 711/2024" formControlName="codigo"
                    rows="2"></textarea>
            </div>
            <div class="right">
                <textarea pInputTextarea placeholder="MEFP/VTCP/DGAFP/USCFT/N° 711/2024" formControlName="codigo"
                    rows="2"></textarea>
            </div>
        </div>

        <div class="info-body">

            <!-- Destinatario -->
            <div class="destinatario">
                <textarea pInputTextarea placeholder="Señor Edwin Rojas Rioja"
                formControlName="destinatario" rows="4"></textarea>
            </div>
            
        </div>
        <!-- Referencia -->
        <div class="referencia">
            <textarea pInputTextarea
                placeholder="Ref.: Certificado de Registro de Inicio de Operaciones de Crédito Público"
                formControlName="referencia" rows="4"></textarea>
        </div>

        <!-- Cuerpo -->
        <textarea pInputTextarea placeholder="Cursa en este despacho la nota CITE/EXT/G.A.M.A./149/2024"
            formControlName="cuerpo" rows="10"></textarea>

        <!-- Firma -->
        <textarea pInputTextarea placeholder="Viceministra del Tesoro y Crédito Público" formControlName="firma"
            rows="2"></textarea>
    </form>
    <!-- Footer -->
    <footer class="footer">
        <p>Av. Mariscal Santa Cruz esq. calle Loayza - Teléfono: (591-2) 218 3333 - www.economiayfinanzas.gob.bo</p>
        <p>La Paz - Bolivia</p>
    </footer>
</div>