<div class="container">

    <p style="text-align: center; font-weight: bold; margin-bottom: 10px;">
        NOTA DE {{ tipoNotaRiocp}}
    </p>

    <form [formGroup]="seguimientoForm">
        <!-- Fecha y Código -->
        <div class="info-row">
            <div class="left">
                <input pInputText formControlName="fecha" readonly />
                <input pInputText formControlName="nro_nota" />
            </div>
        </div>

        <div class="info-body">
            <!-- Destinatario -->
            <div class="destinatario">
                <textarea pInputTextarea formControlName="header" rows="5"></textarea>
            </div>

        </div>
        <!-- Referencia -->
        <div class="referencia">
            <textarea pInputTextarea
                placeholder="Ref.: Certificado de Registro de Inicio de Operaciones de Crédito Público"
                formControlName="referencia" rows="4"></textarea>
        </div>

        <!-- Cuerpo -->
        <textarea pInputTextarea placeholder="Cursa en este despacho la nota CITE/EXT/G.A.M.A./149/2024"
            formControlName="body" rows="10"></textarea>

        <!-- Footer -->
        <div class="footer">
            <input pInputText formControlName="remitente" />
        </div>

        <div class="header">
            <textarea pInputTextarea formControlName="revisado" rows="10"></textarea>
        </div>

    </form>

</div>
