.form-field {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}

.form-field label {
  flex: 0 0 40%;
  padding-right: 10px;
}

.form-field input,
.form-field p-fileUpload {
  flex: 1 0 60%;
}

.error-message {
  flex-basis: 100%;
  margin-top: 0.75rem;
  align-items: center;
  font-weight: bold;
}


@media screen and (max-width: 768px) {
  .form-field {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-field label {
    margin-bottom: 0.5rem;
    flex: none;
  }

  .form-field input,
  .form-field p-fileUpload {
    flex: none;
    width: 100%;
  }
}


/* RADIO BUTTON CONVERTIDO CON X */

:host ::ng-deep .p-radiobutton {
  margin-top: 10px;
}

:host ::ng-deep .p-radiobutton .p-radiobutton-box.p-highlight,
:host ::ng-deep .p-radiobutton .p-radiobutton-box.p-highlight:hover {
  background-color: transparent;
  border-color: black;
  box-shadow: none;
}

:host ::ng-deep .p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
  border-color: black;
}

:host ::ng-deep .p-radiobutton .p-radiobutton-icon {
  display: none;
}

:host ::ng-deep .p-radiobutton.p-radiobutton-checked .p-radiobutton-box:after {
  content: '✖';
  color: black;
  font-size: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  /* Hacer la 'X' más gruesa si es necesario */
}

:host ::ng-deep .p-radiobutton .p-radiobutton-box {
  border: 2px solid black;
  width: 20px;
  height: 20px;
  border-radius: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


.firma-valida {
  border: 2px solid green;
  /* Borde verde */
  background-color: #e0ffe0;
  /* Color de fondo verde claro (opcional) */
  padding: 10px;
  border-radius: 5px;
  /* Bordes redondeados (opcional) */
  text-align: center;
  /* Centra el texto */
}

.firma-no-valida {
  border: 2px solid red;
  /* Borde rojo */
  background-color: #ffe0e0;
  /* Color de fondo rojo claro (opcional) */
  padding: 10px;
  border-radius: 5px;
  /* Bordes redondeados (opcional) */
  text-align: center;
  /* Centra el texto */
}