.p-button-group {
  display: flex;
  align-content: center;
  gap: 20px;
}

:host ::ng-deep .p-tabmenu { 
  font-size: 10px;
}

:host ::ng-deep .p-tabmenu {
  display: flex;
  flex-wrap: wrap;
}

:host ::ng-deep .p-tabmenu-nav {
  flex-wrap: wrap;
}

:host ::ng-deep .p-tabmenu-nav li {
  flex: 1 1 25%; /* Hace que cada pestaña ocupe un cuarto del ancho */
  box-sizing: border-box;
  max-width: 25%; /* Asegura que no se excedan */
}
