<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/demo/images/mefp/logo2_mefp_1_0.png" height="200" width="200" class="mb-3" alt="mefp logo">
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <div class="p-menubar">
        <p-dropdown [options]="entidad" [(ngModel)]="selectedEntidad"></p-dropdown>
    </div>

    <div #topbarmenu class="layout-topbar-menu"
        [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">

        <!-- ICONO NOTIFICACION -->
        <button class="p-link layout-topbar-button" [style.color]="notificationColor" style="margin-right: 3rem;"
            (click)="notificaciones.toggle($event)">
            <i class="pi pi-globe"></i>
            <span>Notificacion</span>
        </button>

        <!-- ICONO USUARIO -->
        <button class="p-link layout-topbar-button" (click)="menu.toggle($event)">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
        
        <!-- Submenu  -->
        <p-menu #menu [model]="items" [popup]="true" appendTo="body"
            [style]="{ width: '250px', fontSize: '20px' }"></p-menu>

        <!-- Submenu Notificaciones -->
        <p-menu #notificaciones [model]="notificacion" [popup]="true" appendTo="body"
            [style]="{ width: '350px', fontSize: '20px' }"></p-menu>

        </div>

</div>