.table-container {
  width: 100%;
}

.add-user-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.p-button-secondary {
  font-size: 1px;
}

.text-success {
  color: rgb(53, 175, 53);
  font-weight: 900;
}

.text-danger {
  color: rgb(215, 66, 66);
  font-weight: 700;
  
}