.table-container {
  width: 100%;
}

/* temporal */




/* Estilos generales para el contenedor principal */
p-card {
  width: 80%;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Encabezado */
.header {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 1.2em;
  margin: 0;
}

.header h2 {
  font-size: 1.1em;
  margin: 0;
}

/* Contenido del formulario */
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 20px;
}

.field {
  display: flex;
  align-items: center;
}

.field label {
  flex: 1;
  font-weight: bold;
  font-size: 0.9em;
}

.field input,
.field p-inputtextarea {
  flex: 2;
}

/* Campos de texto */
p-inputtext,
p-inputtextarea {
  width: 100%;
}

p-inputtextarea {
  resize: none;
}

/* Casillas de verificación */
p-checkbox {
  margin-left: 10px;
}

/* Sección de indicadores */
.section-title {
  grid-column: 1 / -1;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Pie de página */
.footer {
  font-size: 0.9em;
  color: #333;
  margin-top: 20px;
  line-height: 1.5;
}

.footer .highlight {
  font-style: italic;
  color: #555;
  margin-top: 10px;
}

/* Listas en el pie de página */
.footer ul {
  padding-left: 20px;
}

.footer li {
  margin-bottom: 5px;
}

/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
  }
}


/* RADIO BUTTON CONVERTIDO CON X */
:host ::ng-deep .p-radiobutton {
  margin-top: 10px;
  margin-bottom: 15px;

}

:host ::ng-deep p-radioButton .p-radiobutton-box.p-highlight,
:host ::ng-deep .p-radiobutton .p-radiobutton-box.p-highlight:hover {
  background-color: transparent;
  border-color: black;
  box-shadow: none;
}

:host ::ng-deep .p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
  border-color: black;
}

:host ::ng-deep .p-radiobutton .p-radiobutton-icon {
  display: none;
}

:host ::ng-deep .p-radiobutton.p-radiobutton-checked .p-radiobutton-box:after {
  content: '✖';
  color: black;
  font-size: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  /* Hacer la 'X' más gruesa si es necesario */
}

:host ::ng-deep .p-radiobutton .p-radiobutton-box {
  border: 2px solid black;
  padding: 20px 100px 20px 100px;

  border-radius: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-label-left {
  display: flex;
  align-items: center;
}

