<p-toast></p-toast>

<p-dialog [(visible)]="visible" [modal]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [style]="{ width: '50vw' }" (onHide)="closeModal()">
    <!-- Contenedor de Pestañas -->
    <div class="tab-header">
        <button class="tab-button" [ngClass]="{'active': activeTab === 'tab1'}" (click)="activeTab = 'tab1'">
            Derivar
        </button>
    </div>

    <form [formGroup]="seguimientoForm" (ngSubmit)="onSubmit()">
        <div class="tab-content">
            <!-- Contenido de la Pestaña 1 -->
            <div *ngIf="activeTab === 'tab1'" class="form-container">

                <app-derivar [tipoRol]="tipoRol" [listadoRol]="listadoRol" [seguimientoForm]="seguimientoForm"
                    (valorBooleano)="closeModal($event)"></app-derivar>
            </div>
        </div>
    </form>
</p-dialog>