/* Responsividad y estilo para el contenedor del formulario */
.form-container {
  /* Ajusta el ancho del formulario */
  margin: 0 auto;
  /* Centra horizontalmente */
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}



/* Estilo para las secciones del formulario */
.section {
  width: 100%;
  border: 2px solid #c3c3c3;
  background-color: #f0f0f0;
  color: #000;
  padding: 20px;
  margin-bottom: 20px;
}

h5 {
  text-align: center;
  background-color: #cfcfcf;
  padding: 5px;
}



/* Seccion informacion */
.informacion {
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    label {
      flex: 0 0 70%;
      margin-left: 10px;
      font-weight: 100;
      /* El label ocupa el 50% */
    }
  }
}

.cronograma-container {
  text-align: center;
  display: contents;

}

.subtitulo {
  font-size: medium;
}


/* RADIO BUTTON CONVERTIDO CON X */

:host ::ng-deep .p-radiobutton {
  margin-top: 10px;
}

:host ::ng-deep .p-radiobutton .p-radiobutton-box.p-highlight,
:host ::ng-deep .p-radiobutton .p-radiobutton-box.p-highlight:hover {
  background-color: transparent;
  border-color: black;
  box-shadow: none;
}

:host ::ng-deep .p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
  border-color: black;
}

:host ::ng-deep .p-radiobutton .p-radiobutton-icon {
  display: none;
}

:host ::ng-deep .p-radiobutton.p-radiobutton-checked .p-radiobutton-box:after {
  content: '✖';
  color: black;
  font-size: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  /* Hacer la 'X' más gruesa si es necesario */
}

:host ::ng-deep .p-radiobutton .p-radiobutton-box {
  border: 2px solid black;
  width: 20px;
  height: 20px;
  border-radius: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {

  /* seccion 2.3 */
  .informacion .row {
    flex-direction: column;

    /* Poner label e input uno debajo del otro en pantallas pequeñas */
    label {
      flex: 0 0 100%;
      width: 100%;
      /* Ambos ocupan el 100% en pantallas pequeñas */
    }
  }
}