<div class="flex align-items-center justify-content-between mb-4">
    <h5>NOTIFICACIONES</h5>
</div>

<div>
    <span class="block text-600 font-medium mb-3">12/07/2004</span>
    <ul class="p-0 mx-0 mt-0 mb-4 list-none">
        <li class="flex align-items-center py-2 border-bottom-1 surface-border">
            <div
                class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                <i class="pi pi-envelope text-xl text-blue-500"></i>
            </div>
            <span class="text-900 line-height-3">Juan Perez
                <span class="text-700"> Entidad XXXXXXX <span class="text-blue-500">79$</span></span>
            </span>
        </li>
    </ul>

    <span class="block text-600 font-medium mb-3">12/07/2006</span>
    <ul class="p-0 m-0 list-none">
        <li class="flex align-items-center py-2 border-bottom-1 surface-border">
            <div
                class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                <i class="pi pi-envelope text-xl text-blue-500"></i>
            </div>
            <span class="text-900 line-height-3"> Maria Velez
                <span class="text-700"> Entidad XXXXXXX <span class="text-blue-500">79$</span></span>

            </span>
    </ul>
</div>